<h1>Flight Number: <%= @flight.number %></h1>
<p>Flight Date: <%= @flight.date %></p>
<p>Flight Time: <%= @flight.time %></p>
<p>Departure City: <%= @flight.departure_city %></p>
<p>Arrival City: <%= @flight.arrival_city %></p>
<p>Airline This Flight Belongs To: <%= @flight.airline.name %></p><br>
<p>Passengers On This Flight:</p>
<% @flight.passengers.each do |passenger| %>
  <%= passenger.name %><br>
<% end %>

<p>Minors On This Flight: <%= @flight.count_of_minors %></p>
<p>Adults On This Flight: <%= @flight.count_of_adults %></p>
